@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body{
        background: linear-gradient(180deg, #2D397D 13.33%, #96DAD9 65.84%, #79CECB 100%);
        height: 1024px;

    
    }

    .container{
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 184px 840px;
        grid-template-areas: 
        "c"
        "F";
    }

    header{
        background-color: #38479C;
    grid-area: "c";
    display: flex;
    align-items: center;
}

header > h1{
    position: absolute;  
  left: 50%;
  color: white;
  
  }

  header > a{
    color: white;
    position: absolute;
    left: 90%;
  }

  header > a:hover {
    color: #00BAB4;
  }

.info{
  display: flex;
  justify-content: space-between;
}

.linha1{
    color: white;
    padding-top: 22px;
}

  .cards1{
    display: flex;
    grid-template-columns:1fr ;
    padding-top: 22px;
    padding-left: 22px;
    gap: 5px;
    

  }

  .filmes{
    padding-left:66px;
  }

  .linha2{
    color: white;
    padding-top: 66px;
  }

  .cards2{
    display: flex;
    grid-template-columns:1fr ;
    padding-top: 22px;
    padding-left: 22px;
    
  }

  .musicas{
    padding-left: 76px;
  }

  .linha3{
    color: white;
    padding-top: 30px;
  }

  .cards3{
    display: flex;
    grid-template-columns:1fr ;
    padding-top: 22px;
    padding-left: 22px;
  }

  .livros{
    padding-left: 51px;
  }

  .btncard{
    display: flex;
    justify-content: space-between;
  }

  #filme{
    display: flex;
    gap: 25px;
  }

  #musica{
    display: flex;
    gap: 25px;
  }

  #livro{
    display: flex;
    gap: 25px;
  }

  #filme > img {
    box-sizing: border-box;
position: absolute;
width: 106.67px;
height: 160px;
left: 41px;
top: 233px;
border: 5px solid #000000;
  }


#musica > img {
  box-sizing: border-box;

position: absolute;
width: 150px;
height: 150px;
left: 28px;
top: 507px;
border: 5px solid #000000;
}




  #livro > img {
    box-sizing: border-box;
    position: absolute;
    width: 106.67px;
    height: 160px;
    left: 41px;
    top: 233px;
    border: 5px solid #000000;
  }

  #img > i {
    justify-content: space-between;
  }

  